@use "Colores" as *;
@use "paginas/Home/Header";
@use "paginas/Home/Intro";
@use "paginas/Home/Categorias";
@use "paginas/Home/Productos";
@use "paginas/Home/Familia";
@use "Fuentes" as *;
@use "paginas/Home/beneficios.scss";
@use "paginas/Campamento/campamento";
@use "paginas/OrdenHorno/orden-horno";


div {
  text-align: center;
}



html {
  color: $naranja;
  font-size: 1em;
  line-height: 1.4;
  letter-spacing: 1px;
  font-family: $fuente-principal;
  background-color: #000000;
}
body {
  margin: 0px;
  // padding-bottom: 80px; - para el menu
}

.hero {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

a {
  font-weight: 600;
  color: #ff9100;
  text-decoration: none;
}

footer {
  color: #ff9500;
  text-align: center;
}

//Responsive

@media (min-width: 1024px) {
  section:first-child {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
  }
  .contenedor_productos {
  display: flex;
  }
  
  header {
  margin-top: 0px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  }

  header nav {
  border-radius: 10px 10px 10px 10px; 
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  }
}
/* Efecto aparición */
body {
  animation: aparecer 0.8s ease-out;
}
@keyframes aparecer {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

footer {
  p{
    text-align: center;
    padding: 0px 10px;
  }
}

.btn-whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; // Espacio entre el icono y el texto
    margin: 10px;
    font-size: 1em;
    color: $color-claro;
    background-color: $naranja-fuerte;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    padding: 5px;
    .whatsapp-icon {
        width: 40px;
        height: 40px;
        fill: currentColor; // ¡Clave! Hereda el color del texto del botón
    }

    // Al hacer hover, como usamos currentColor, todo cambia de color junto
    &:hover {
        background: $color-acentos;
    }
}